# <font color=darkblue> Machine Learning model deployment with Flask framework</font>

## <font color=Blue>Used Cars Price Prediction Application</font>

### Objective:
1. To build a Machine learning regression model to predict the selling price of the used cars based on the different input features like fuel_type, kms_driven, type of transmission etc.
2. Deploy the machine learning model with the help of the flask framework.

### Dataset Information:
#### Dataset Source: https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=CAR+DETAILS+FROM+CAR+DEKHO.csv
This dataset contains information about used cars listed on www.cardekho.com
- **Car_Name**: Name of the car
- **Year**: Year of Purchase
- **Selling Price (target)**: Selling price of the car in lakhs
- **Present Price**: Present price of the car in lakhs
- **Kms_Driven**: kilometers driven
- **Fuel_Type**: Petrol/diesel/CNG
- **Seller_Type**: Dealer or Indiviual
- **Transmission**: Manual or Automatic
- **Owner**: first, second or third owner

### 1. Import required libraries

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score


import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

### 2. Load the dataset

In [2]:
df = pd.read_csv('car+data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### 3. Check the shape and basic information of the dataset.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [4]:
df.shape

(301, 9)

In [5]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [6]:
df.describe(include='O')

       Car_Name Fuel_Type Seller_Type Transmission
count       301       301         301          301
unique       98         3           2            2
top        city    Petrol      Dealer       Manual
freq         26       239         195          261

### 4. Check for the presence of the duplicate records in the dataset? If present drop them

In [7]:
## checking the presence of duplicate records
len(df[df.duplicated()])

2

In [8]:
## dropping the duplicated record from the dataset
df.drop_duplicates(inplace=True)

In [9]:
## recheck the presence of the duplicate record
len(df[df.duplicated()])

0

### 5. Drop the columns which you think redundant for the analysis.

In [10]:
## dropping the redundant columns from the dataset.
df.drop(['Car_Name'],axis=1,inplace=True)

### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [11]:
df['age_of_the_car']=2024-df['Year']
df.drop('Year',axis=1, inplace=True)
df.head(5)

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,10
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,11
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,7
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,13
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,10

### 7. Encode the categorical columns

In [12]:
df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [13]:
df['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [14]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [15]:
df['Fuel_Type']=df['Fuel_Type'].replace({'Petrol':0 , 'Diesel' :1, 'CNG': 2})

In [16]:
df['Seller_Type']=df['Seller_Type'].replace({'Dealer':0, 'Individual':1})

In [17]:
df['Transmission']=df['Transmission'].replace({'Manual':0, 'Automatic':1})

### 8. Separate the target and independent features.

In [18]:
X= df.drop('Selling_Price', axis =1)
Y= df['Selling_Price']

### 9. Split the data into train and test.

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.3)

print(X_train.shape, X_test.shape)
print(Y_train.shape, Y_test.shape)

(209, 7) (90, 7)
(209,) (90,)

### 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [20]:
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [21]:
Y_train_pred=rf.predict(X_train)
Y_test_pred=rf.predict(X_test)

r2_train=r2_score(Y_train,Y_train_pred)
r2_test=r2_score(Y_test,Y_test_pred)

### 11. Create a pickle file with an extension as .pkl

In [22]:
import pickle
#saving model to disk
pickle.dump(rf,open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

### 12. Create new folder/new project in visual studio/pycharm that should contain the "model.pkl" file *make sure you are using a virutal environment and install required packages.*

### a) Create a basic HTML form for the frontend

In [ ]:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Please enter details to get estimated price </title>
</head>
<body>
    <div class="hero-image">
      <div class="hero-text">
          <h1 style="font-size:50px">Used Car Price Predictor</h1>
         <br><br><h3>{{ prediction_text }}</h3>
      </div>
    </div>

    <form action="{{ url_for('predict')}}" method="POST">
        <h2>Enter Car Details: </h2>
        <h3>Age of the Car(In years)</h3><input id="first" name="Age_of_the_Car" type="number">
        <h3>Present Showroom Price(In lakhs)</h3><br><input id="second" name="Present_Price" required="required">
        <h3>Kilometers Driven</h3><input id="third" name="Kms_Driven" required="required">
        <h3>Owner Type (0/1/3)</h3><br><input id="fourth" name="Owner" required="required">
        <h3>Fuel type</h3><br><select name="Fuel_type" id="fuel" required="required">
            <option value="2">Petrol</option>
            <option value="1">Diesel</option>
            <option value="0">CNG</option>
        </select>
        <h3>Seller type</h3><br><select name="Seller_type" id="resea" required="required">
            <option value="1">Dealer</option>
            <option value="0">Individual</option>
        </select>
        <h3>Transmission type</h3><br><select name="Transmission" id="research" required="required">
            <option value="1">Manual Car</option>
            <option value="0">Automatic Car</option>
        </select>
        <br><br><button id="sub" type="submit ">Predict Selling Price</button>
        <br>
    </form>
</body>
</html>

Create a file **index.html** in the templates folder and copy the following code.

### b) Create app.py file and write the predict function

In [ ]:
from flask import Flask, render_template, request, jsonify
import pickle
import numpy as np
import sklearn

app = Flask(__name__)
model = pickle.load(open('model.pkl', 'rb'))


@app.route('/', methods=['GET'])
def Home():
    return render_template('index.html')


@app.route("/predict", methods=['POST'])
def predict():
    if request.method == "POST":
        Present_Price = float(request.form['Present_Price'])
        Kms_Driven = int(request.form['Kms_Driven'])
        Owner = int(request.form['Owner'])
        Fuel_type = request.form['Fuel_type']
        Age_of_the_Car = request.form['Age_of_the_Car']
        Seller_type = request.form['Seller_type']
        Transmission = request.form['Transmission']

        prediction = model.predict(
            [[Present_Price, Kms_Driven, Owner, Fuel_type, Age_of_the_Car, Seller_type, Transmission]])
        output = round(prediction[0], 2)
        return render_template('index.html', prediction_text="You can sell your car at {} lakhs".format(output))


if __name__ == "__main__":
    app.run(debug=True)

### 13. Run the app.py python file which will render to index html page then enter the input values and get the prediction.

In [ ]:
Used Car Price Predictor


You can sell your car at 28.77 lakhs
Enter Car Details:
Age of the Car(In years)
Present Showroom Price(In lakhs)

Kilometers Driven
Owner Type (0/1/3)

Fuel type


Petrol
Seller type


Dealer
Transmission type


Manual Car


Predict Selling Price

### Happy Learning :)